*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f9f9f9;
    font-family: Helvetica;
    font-size: 16px;
}
.main-container{
    width: 1200px;
    margin: auto;
}
.title-container{
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}
.title{
    color:#414186;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.intro-text{
    padding: 20px;
    color: #942929;
    font-size: 16px;
}
.sign-container{
    text-align: center;
    margin-bottom: 50px;
}
.s-col-container{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    width: 48%;
}
details {
    background-color: white;
    margin-bottom: 4px;
    padding: 20px 10px;
    border: 1px #e2e2e2 solid;
    border-radius: 10px;
    text-align: left;
    font-size: 16px;
}

details summary {
    padding: 10px;
    font-weight: bolder;
}

details ul {
    background-color: #e2e2e2;
    padding: 20px 40px;
    padding-left: 2em;
    border-radius: 10px;
}
.btn-container{
    padding: 20px;
}
.download-button {
    padding: 15px 30px;
    background-color: #D8B444;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}